---
const { link, caption, height } = Astro.props
---

<div class="container">
<img height={height} src= {link}>
<p>{caption}</p>
</div>
<style>
.container {
padding: 10px;
border: solid peru 4px;
background-color: aqua;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 40px;
flex-direction: column;
gap: 1cm;
}
img{
  object-fit: cover;
}
p{
  font-size: 1rem;
}
</style>